/* Important style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.raleway{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


body{
    max-width: 1440px;
    margin: 2rem auto;
    width:80vw;
}

/* shared style */
.orange{
    color:#FEA301;
}
.sky-blue{
    color:#01ACFD;
}
.firoza{
    color:#05D4DF;
}
.beguni{
    color:#5D58EF;
}
.black{
    color:#111111;
}

/* navbar style start here*/
/* bold 32 */
.icon-bold{
    font-weight: bold;
    font-size:1.9rem;
    line-height: 1.79rem;
}
/* medium 20 */
.nav-a-text{
    font-size: 1.19rem;
    line-height: 1.79rem;
    font-weight: bold;
}



.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-icon-imgage-div{
    display: flex;
    align-items: center;
    gap:10px;
}
.navbar-logo-img{
    width:3rem;
    height: 3.13rem;
}

.nav-container{
   display: flex; 
   gap:2rem;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
}

.navbar-btn{
    font-size: 1.19rem;
    font-weight:600;
    color:white;
    background-color: #FEA301;
    padding:12px 45px;
    border-radius: 8px;
    border:none;
    
}


/* navbar style ended*/


/* Banner section style start here */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.banner-title{
    font-size: 3.33rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.19rem;
    font-weight: normal;
    line-height: auto;
}
.banner-btn{
    background-color: #111111;
    color:white;
    padding:12px 45px;
    border-radius: 8px;
    border:none;
    line-height: 1.79rem;
    font-size: 1.19rem;
    font-weight: bold;
}
.banner-img{
    width:100%;
    
}

/* Banner section style ended */
/* all card container start */
.all-card-container{
    background-image: url('../assets/bg.png');
    background-position:center top;
}
/* standard curriculum card section 1 style start */
.card-section-1-title{
    font-size: 2.74rem;
    font-weight: bold;
    line-height: 3.42rem;
    text-align: center;  
}
.card-1-img{
    width:5rem;
}

.card-1-container  {
   margin:auto 3.75rem; 
}

.card-section-1-main-card{
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
    margin:5rem auto;
}
.card-1{
    padding:1.25rem 2.5rem;
    text-align: center;
    border-radius: 1.12rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bg-l-blue{
    background-image: linear-gradient(to bottom, #DEF5FF ,  #FFFFFF);
}
.bg-l-yellow{
    background-image: linear-gradient(to bottom, #FFF4DC , #FFFFFF);
}
.bg-l-purple{
    background-image: linear-gradient(to bottom, #F2E8FF , #FFFFFF);
}
.left-right-icon{
    text-align: center;
    margin-bottom:3.75rem;
}
.fa-solid{
    background-color: #FEA301;
    font-size: 2rem;
    padding:1rem 1.2rem;
    border-radius: 2rem;
    color: white;
    margin-right: 2%;
   
}
.read-more-text{
    font-weight: bold;
    font-size:0.90rem;
    line-height: 1.69rem;
}
.card-1-container-description{
    font-weight: normal;
    font-size:0.90rem;
    line-height: 1.69rem;
}
.card-1-container-heading{
    font-size: 1.46rem;
    font-weight: bold;
    line-height: 1.83rem;
}


/* standard curriculum card section 1 ended */





.hide{
    display: none;
}

/* Responsive Design for Mobile device */
@media screen and (max-width:576px) {
    .banner-container , 
    .card-section-1-main-card{
        flex-direction: column-reverse;
    }
    .banner-content-div{
    text-align: center;
    }
    .banner-title{
        margin-bottom:0;
    }
    .banner-description{
        margin:30px 0;
    }
    .fa-bars{
        font-size: 2rem;
        color:black;
        background-color: white;
    }

    .nav-container , 
    .navbar-btn ,
    .left-right-icon{
        display: none;
    }

    .menu-container{
        display: block;
    }
    .card-section-1-title{
        font-size: 2rem;
    }
    .card-section-1-main-card{
        margin-top: 20px;
    }
}