/* Important style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

body{
    max-width: 1440px;
    margin: 2rem auto;
    width:90vw;
}

/* shared style */
.orange{
    color:#FEA301;
}
.sky-blue{
    color:#01ACFD;
}
.firoza{
    color:#05D4DF;
}
.beguni{
    color:#5D58EF;
}
.black{
    color:#111111;
}

/* navbar style start here*/
/* bold 32 */
.icon-bold{
    font-weight: bold;
    font-size:1.9rem;
    line-height: 1.79rem;
}
/* medium 20 */
.nav-a-text{
    font-size: 1.19rem;
    line-height: 1.79rem;
    font-weight: bold;
}



.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-icon-imgage-div{
    display: flex;
    align-items: center;
    gap:10px;
}
.navbar-logo-img{
    width:3rem;
    height: 3.13rem;
}

.nav-container{
   display: flex; 
   gap:2rem;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
}

.navbar-btn{
    font-size: 1.19rem;
    font-weight:600;
    color:white;
    background-color: #FEA301;
    padding:12px 45px;
    border-radius: 8px;
    border:none;
    
}


/* navbar style ended*/


/* Banner section style start here */
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.banner-title{
    font-size: 3.33rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1.19rem;
    font-weight: normal;
    line-height: auto;
}
.banner-btn{
    background-color: #111111;
    color:white;
    padding:12px 45px;
    border-radius: 8px;
    border:none;
    line-height: 1.79rem;
    font-size: 1.19rem;
    font-weight: bold;
}
.banner-img{
    width:100%;
    
}

/* Banner section style start here */







.hide{
    display: none;
}

/* Responsive Design for Mobile device */
@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-content-div{
    text-align: center;
    }
    .banner-title{
        margin-bottom:0;
    }
    .banner-description{
        margin:30px 0;
    }
    .fa-bars{
        font-size: 2rem;
    }
    .nav-container , 
    .navbar-btn{
        display: none;
    }
    .menu-container{
        display: block;
    }
}